# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env
*.log

# Virtualenv
env/
venv/



# Django
db.sqlite3
media/
staticfiles/

# Docker
*.pid
*.tar
*.db
*.sock

# VSCode
.vscode/

# OS
.DS_Store

# Migrations (optional)
**/migrations/__pycache__/
**/migrations/*.pyc
